.container {
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: flex-end;

    .typingStatus {
      position: absolute;
      font-size: 13px;
      font-style: italic;
      position: absolute;
      left: 630px;
      top: 60px;
    }
  }

  .chats > p {
    font-size: 13px;
  }

  .senderName {
    text-align: right;
  }

  .senderName {
    margin-right: 10px;
  }
  .messageSender {
    background-color: #e9f1f5;
    max-width: 300px;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-left: auto;
    margin-right: 10px;
    font-size: 15px;
    overflow-wrap: break-word;
  }

  .recipientName {
    margin-left: 10px;
  }
  .messageRecipient {
    background-color: #3b82f6;
    color: white;
    width: 300px;
    padding: 10px;
    margin-left: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 15px;
    overflow-wrap: break-word;
  }

  .messageBlock {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-top: auto;
  }

  .form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .userMessage {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #ddd;
    outline: none;
    padding: 15px;
  }

  .leaveBtn {
    width: 150px;
    background-color: #c4351c;
    padding: 10px;
    margin: 3px;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #eae3d2;
    cursor: pointer;

    &:hover {
      background-color: #b8351e9d;
    }
  }

  .btn {
    width: 150px;
    background-color: #01ae01;
    padding: 10px;
    margin: 3px;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #eae3d2;
    cursor: pointer;

    &:hover {
      background-color: #01ae0193;
    }
  }
}
