.container {
    width: 250px;
    background-color: rgb(216, 221, 250);
    text-align: center;
    border-radius: 10px;

    span {
        margin-left: 5px;
        font-size: 13px;
        color: grey;
    }
}