.container {
  min-width: 250px;
  background-color: #e9f1f5;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .channelsTitle {
    font-size: 17px;
    font-weight: 700;
    padding: 3px;
  }

  .group {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 3px;
    width: 90%;
    margin: 3px;
    box-shadow: 2px 2px 1px rgb(116, 114, 114);

    &:hover {
      cursor: pointer;
    }

    .title {
      font-weight: 600;
    }

    .subtitle {
      color: #888181;
      font-size: 15px;
    }
  }
}
